<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascripts/app.js"></script>
    <title><%= title %> </title>
</head>
<body>
    <nav><a href="/">Definitely Not Orbitz</a><a href="/flights/new">Add Route</a><a href="/flights">View Routes</a></nav>
    <main>
        <h1><%= title %> </h1>